/**Variable**/

:root {
  /*font*/
  --vxe-font-family: #{$vxe-font-family};
  --vxe-font-size: #{$vxe-font-size};
  --vxe-font-size-medium: #{$vxe-font-size-medium};
  --vxe-font-size-small: #{$vxe-font-size-small};
  --vxe-font-size-mini: #{$vxe-font-size-mini};
}