@use '../../helpers/baseMixin.scss';

.vxe-list-design--field-checkbox-option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  @include baseMixin.createCheckboxIcon();
}
.vxe-list-design--field-option-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.8em;
  padding: 0 0.5em;
  &:hover {
    background-color: var(--vxe-ui-base-hover-background-color);
  }
}