.vxe-anchor {
  position: relative;
}
.vxe-anchor--marker {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.2em;
  height: 1.5em;
  padding: 0.25em 0;
  @include createAnimationTransition(all, 0.35s);
  &::before {
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 1em;
    background-color: var(--vxe-ui-anchor-link-active-color);
  }
}
