@use "sass:list";

.vxe-calendar {
  color: var(--vxe-ui-font-color);
  display: flex;
  flex-direction: column;
  flex-shrink: 0; 
  width: 100%;
  height: 38em;
  border: 1px solid var(--vxe-ui-base-popup-border-color);
  border-radius: var(--vxe-ui-base-border-radius);
}

.vxe-calendar--confirm {
  outline: 0;
  border: 1px solid var(--vxe-ui-input-border-color);
  border-radius: var(--vxe-ui-base-border-radius);
  cursor: pointer;
  color: var(--vxe-ui-input-date-time-confirm-button-color);
  border-color: var(--vxe-ui-font-primary-color);
  background-color: var(--vxe-ui-font-primary-color);
  padding: 0 0.5em;
  &:hover {
    background-color: var(--vxe-ui-font-primary-lighten-color);
    border-color: var(--vxe-ui-font-primary-lighten-color);
  }
  &:active {
    background-color: var(--vxe-ui-font-primary-darken-color);
    border-color: var(--vxe-ui-font-primary-darken-color);
  }
}

.vxe-calendar--header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--vxe-ui-layout-padding-default);
  user-select: none;
  border-bottom: 1px solid var(--vxe-ui-input-border-color);
  .vxe-calendar--type-wrapper {
    flex-grow: 1;
  }
  .vxe-calendar--btn-wrapper {
    flex-shrink: 0;
    text-align: center;
  }
}
.vxe-calendar--btn-wrapper {
  display: flex;
  flex-direction: row;
}
.vxe-calendar--btn {
  &.is--disabled {
    color: var(--vxe-ui-font-disabled-color);
    cursor: no-drop;
  }
  &:not(.is--disabled) {
    cursor: pointer;
    &:hover {
      background-color: #fff;
    }
    &:active {
      background-color: #fff;
    }
  }
}
.vxe-calendar--body {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  table {
    border: 0;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: separate;
    text-align: center;
    table-layout: fixed
  }
}

.vxe-calendar--wrapper {
  border: 0 solid var(--vxe-ui-base-popup-border-color);
  border-radius: var(--vxe-ui-base-border-radius);
}

.vxe-calendar--wrapper {
  display: inline-flex;
  flex-direction: column;
  padding: 0.8em;
}

.vxe-calendar--picker-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;
  padding-bottom: 0.5em;
}

.vxe-calendar--picker-header {
  user-select: none;
  .vxe-calendar--picker-type-wrapper {
    flex-grow: 1;
    font-size: 1.1em;
  }
  .vxe-calendar--picker-btn-wrapper {
    flex-shrink: 0;
    text-align: center;
  }
}
.vxe-calendar--picker-type-wrapper {
  display: flex;
  align-items: center;
  .vxe-calendar--picker-label,
  .vxe-calendar--picker-btn {
    display: inline-block;
  }
}
.vxe-calendar--picker-btn-wrapper {
  display: flex;
  flex-direction: row;
  .vxe-calendar--picker-prev-btn,
  .vxe-calendar--picker-current-btn,
  .vxe-calendar--picker-next-btn {
    height: 2.2em;
    padding: 0 0.5em;
    border-radius: var(--vxe-ui-base-border-radius);
    border: 1px solid var(--vxe-ui-input-border-color);
    margin-left: 0.5em;
    i {
      font-size: 1.2em;
    }
  }
  .vxe-calendar--picker-btn {
    &:not(.is--disabled) {
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
.vxe-calendar--picker-label,
.vxe-calendar--picker-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--vxe-ui-layout-background-color);
}
.vxe-calendar--picker-btn {
  &.is--disabled {
    color: var(--vxe-ui-font-disabled-color);
    cursor: no-drop;
  }
  &:not(.is--disabled) {
    cursor: pointer;
    &:hover {
      color: var(--vxe-ui-font-primary-color);
      background-color: #fff;
    }
    &:active {
      background-color: #fff;
    }
  }
}
.vxe-calendar--picker-btns {
  .vxe-calendar--picker-btn {
    margin-left: 0.6em;
    &:first-child {
      margin-left: 0;
    }
  }
}

.vxe-calendar--view-wrapper {
  display: flex;
  flex-direction: column; 
  line-height: 1.5;
  height: 100%;
}
.vxe-calendar--picker-body {
  border-radius: var(--vxe-ui-base-border-radius);
  border: 1px solid var(--vxe-ui-base-popup-border-color);
  user-select: none;
}
.vxe-calendar--view-header {
  box-shadow: inset 0 -1px 0 0 var(--vxe-ui-base-popup-border-color);
  text-align: center;
}
.vxe-calendar--view-body {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}
.vxe-calendar--view-header {
  .vxe-calendar--view-row {
    height: 100%;
  }
  .vxe-calendar--view-item-label {
    font-weight: 700;
  }
}

.vxe-calendar--view-body {
  .vxe-calendar--view-item {
    cursor: pointer;
    &.is--range-disabled,
    &.is--disabled {
      cursor: no-drop;
    }
    &.is--over {
      cursor: no-drop;
    }
  }
}
.vxe-calendar--view-row {
  display: flex;
  flex-direction: row;
}
.vxe-calendar--view-item {
  &.is--prev,
  &.is--next {
    .vxe-calendar--view-item-inner {
      color: var(--vxe-ui-font-disabled-color);
    }
    .vxe-calendar--label,
    .vxe-calendar--festival {
      color: var(--vxe-ui-font-disabled-color);
    }
  }
  &.is--now {
    .vxe-calendar--view-item-inner {
      color: var(--vxe-ui-base-popup-border-color);
    }
    &:not(.is--selected) {
      &.is--current {
        color: var(--vxe-ui-font-primary-color);
        .vxe-calendar--label,
        .vxe-calendar--festival {
          color: var(--vxe-ui-font-primary-color);
        }
      }
    }
  }
  &.is--hover {
    .vxe-calendar--view-item-inner {
      background-color: var(--vxe-ui-font-primary-tinge-color);
    }
  }
  &.is--selected {
    .vxe-calendar--view-item-inner {
      color: var(--vxe-ui-input-date-picker-selected-color);
      background-color: var(--vxe-ui-font-primary-color);
    }
    &.is--hover {
      .vxe-calendar--view-item-inner {
        box-shadow: 0 0px 6px 1px var(--vxe-ui-font-primary-color);
      }
    }
    &.is--prev,
    &.is--next {
      .vxe-calendar--label,
      .vxe-calendar--festival {
        color: var(--vxe-ui-base-popup-border-color);
      }
    }
    .vxe-calendar--label,
    .vxe-calendar--festival {
      color: var(--vxe-ui-input-date-picker-festival-selected-color);
    }
    .vxe-calendar--label {
      &.is-notice {
        &:before {
          background-color: var(--vxe-ui-input-date-picker-notice-selected-background-color);
        }
      }
    }
  }
  &.is--range-disabled {
    .vxe-calendar--view-item-inner {
      color: var(--vxe-ui-input-disabled-color);
      background-color: inherit;
    }
  }
  &.is--disabled {
    .vxe-calendar--view-item-inner {
      color: var(--vxe-ui-input-disabled-color);
      background-color: var(--vxe-ui-input-disabled-background-color);
    }
    .vxe-calendar--label,
    .vxe-calendar--festival {
      color: var(--vxe-ui-input-disabled-color);
    }
  }
}

// .vxe-date-range-picker--panel {
//   .vxe-calendar--view-item {
//     &.is--range-disabled {
//       .vxe-calendar--view-item-inner {
//         color: var(--vxe-ui-input-disabled-color);
//         background-color: inherit;
//       }
//     }
//   }
// }

.vxe-calendar--view-wrapper {
  &.type--week {
    .vxe-calendar--view-item {
      padding: 0.2em 0;
      .vxe-calendar--view-item-inner {
        border-radius: 0;
      }
      &:first-child {
        padding: 0.2em 0 0.2em 0.2em;
        border-right: 1px solid var(--vxe-ui-base-popup-border-color);
        .vxe-calendar--view-item-inner {
          color: var(--vxe-ui-input-date-festival-color);
        }
      }
      &:last-child {
        padding: 0.2em 0.2em 0.2em 0;
      }
      &.is--hover,
      &.is--selected {
        &:first-child {
          .vxe-calendar--view-item-inner {
            border-radius: var(--vxe-ui-base-border-radius) 0 0 var(--vxe-ui-base-border-radius);
          }
        }
        &:last-child {
          .vxe-calendar--view-item-inner {
            border-radius: 0 var(--vxe-ui-base-border-radius) var(--vxe-ui-base-border-radius) 0;
          }
        }
      }
      &.is--now {
        &:not(.is--selected) {
          &:first-child {
            .vxe-calendar--view-item-inner {
              color: var(--vxe-ui-font-primary-color);
            }
          }
        }
      }
    }
  }
}
.vxe-calendar--view-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-radius: var(--vxe-ui-base-border-radius);
  overflow: hidden;
}
.vxe-calendar--view-item-label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vxe-calendar--label,
.vxe-calendar--festival {
  width: 100%;
  display: block;
  overflow: hidden;
  text-align: center;
}

.vxe-calendar--label--number {
  font-size: 1.2em;
}

.vxe-calendar--label {
  position: relative;
  height: 1.8em;
  line-height: 1.8em;
  &.is-notice {
    &:before {
      content: "";
      position: absolute;
      width: 0.25em;
      height: 0.25em;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      border-radius: 100%;
      background-color: var(--vxe-ui-input-date-notice-background-color);
    }
  }
}
.vxe-calendar--label--extra {
  position: absolute;
  right: 0.1em;
  top: -0.4em;
  font-size: 0.85em;
  color: var(--vxe-ui-input-date-extra-color);
  &.is-important {
    color: var(--vxe-ui-input-date-extra-important-color);
  }
}

.vxe-calendar--festival {
  color: var(--vxe-ui-input-date-festival-color);
  height: 1.2em;
  line-height: 1.2em;
  overflow: hidden;
  &.is-important {
    color: var(--vxe-ui-input-date-festival-important-color);
  }
}
.vxe-calendar--festival--label {
  display: block;
  font-size: 0.95em;
}

@keyframes festivalOverlap2 {
  0%, 45%, 100% {
    transform: translateY(0);
  }
  50%, 95% {
    transform: translateY(-14px);
  }
}

@keyframes festivalOverlap3 {
  0%, 20%, 100% {
    transform: translateY(0);
  }
  25%, 45%, 75%, 95% {
    transform: translateY(-14px);
  }
  50%, 70% {
    transform: translateY(-28px);
  }
}

.vxe-calendar--festival--overlap {
  display: block;
  font-size: 0.86em;
  &.overlap--2 {
    animation: festivalOverlap2 6s infinite ease-in-out;
  }
  &.overlap--3 {
    animation: festivalOverlap3 9s infinite ease-in-out;
  }
  & > span {
    height: 14px;
    display: block;
  }
}

.vxe-calendar {
  font-size: var(--vxe-ui-font-size-default);
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
}
