@use '../helpers/baseMixin.scss';
@use '../helpers/placement.scss';

// 局部变量
.vxe-cascader,
.vxe-cascader--panel {
  --vxe-ui-cascader-current-font-size: var(--vxe-ui-font-size-default);
  --vxe-ui-cascader-current-font-size: var(--vxe-ui-layout-padding-default);
  &.size--medium {
    --vxe-ui-cascader-current-font-size: var(--vxe-ui-font-size-medium);
    --vxe-ui-cascader-current-font-size: var(--vxe-ui-layout-padding-medium);
  }
  &.size--small {
    --vxe-ui-cascader-current-font-size: var(--vxe-ui-font-size-small);
    --vxe-ui-cascader-current-font-size: var(--vxe-ui-layout-padding-small);
  }
  &.size--mini {
    --vxe-ui-cascader-current-font-size: var(--vxe-ui-font-size-mini);
    --vxe-ui-cascader-current-font-size: var(--vxe-ui-layout-padding-mini);
  }
}

.vxe-cascader {
  position: relative;
  display: inline-block;
  width: 180px;
  font-size: var(--vxe-ui-cascader-current-font-size);
  color: var(--vxe-ui-font-color);
  text-align: left;
  --vxe-ui-cascader-chunk-size: 1;
  & > .vxe-input {
    .vxe-input--inner {
      cursor: pointer;
    }
  }
  &.is--filterable {
    .vxe-cascader-chunk--wrapper {
      padding-top: 0;
    }
    .vxe-cascader--panel-header {
      border-top: 1px solid var(--vxe-ui-base-popup-border-color);
    }
  }
  &.is--disabled {
    & > .vxe-input {
      .vxe-input--inner {
        cursor: no-drop;
      }
    }
  }
  &.is--loading {
    & > .vxe-input {
      .vxe-input--inner {
        cursor: progress;
      }
    }
  }
  & > .vxe-input {
    width: 100%;
    .vxe-input--suffix-icon > i {
      display: inline-block;
      @include baseMixin.createAnimationTransition(transform, .2s);
    }
  }
  &.is--active {
    &:not(.is--filter) {
      & > .vxe-input {
        border-color: var(--vxe-ui-font-primary-color);
      }
    }
  }
}
.vxe-cascader--readonly {
  color: var(--vxe-ui-font-color);
  display: inline-flex;
}

.vxe-cascader--panel {
  font-size: var(--vxe-ui-cascader-current-font-size);
  pointer-events: none;
  @include placement.createPlacementPanel(var(--vxe-ui-cascader-node-width));
}

.vxe-cascader--panel-search {
  display: block;
  padding: var(--vxe-ui-cascader-current-font-size);
  width: calc(var(--vxe-ui-cascader-node-width) * var(--vxe-ui-cascader-chunk-size));
  .vxe-cascader-search--input {
    width: 100%;
  }
}

.vxe-cascader--header-button,
.vxe-cascader--footer-button {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  min-height: 2em;
}
.vxe-cascader--total-btns {
  padding-left: var(--vxe-ui-cascader-current-font-size);
  flex-grow: 1;
}
.vxe-cascader--total-btns,
.vxe-cascader--oper-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vxe-cascader--oper-btns {
  flex-shrink: 0;
}
.vxe-cascader--footer-button,
.vxe-cascader--selected-btns,
.vxe-cascader--expand-btns {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.vxe-cascader--selected-btns {
  & + .vxe-cascader--expand-btns {
    padding-left: 2.2em;
  }
}

.vxe-cascader--panel-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--vxe-ui-base-border-radius);
  border: 1px solid var(--vxe-ui-base-popup-border-color);
  box-shadow: var(--vxe-ui-base-popup-box-shadow);
  background-color: var(--vxe-ui-layout-background-color);
  pointer-events: auto;
}

.vxe-cascader--panel-header {
  border-bottom: 1px solid var(--vxe-ui-base-popup-border-color);
}

.vxe-cascader--panel-footer {
  border-top: 1px solid var(--vxe-ui-base-popup-border-color);
}

.vxe-cascader--panel-header,
.vxe-cascader--panel-footer {
  padding: 4px 0;
}

.vxe-cascader--checkbox-option {
  padding-right: 0.4em;
  @include baseMixin.createCheckboxIcon();
}
.vxe-cascader--radio-option {
  padding-right: 0.4em;
  @include baseMixin.createRadioIcon();
}

.vxe-cascader-chunk--wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  outline: 0;
}
.vxe-cascader-chunk--item-wrapper {
  flex-shrink: 0;
  border-left: 1px solid var(--vxe-ui-base-popup-border-color);
  padding: var(--vxe-ui-cascader-current-font-size) 0;
  &:first-child {
    border-left: 0;
  }
  .vxe-list {
    .vxe-list--virtual-wrapper {
      height: var(--vxe-ui-cascader-chunk-height);
      width: var(--vxe-ui-cascader-node-width);
      overflow-x: hidden;
      overflow-y: hidden;
      &:hover {
        overflow-y: auto;
      }
    }
    .vxe-list--body {
      width: var(--vxe-ui-cascader-node-width);
    }
  }
}
.vxe-cascader-chunk--node-item {
  display: flex;
  flex-direction: row;
  height: var(--vxe-ui-cascader-node-height);
  line-height: var(--vxe-ui-cascader-node-height);
  padding: 0 calc(var(--vxe-ui-cascader-current-font-size) + 18px) 0 var(--vxe-ui-cascader-current-font-size);
  cursor: pointer;
  &:hover {
    background-color: var(--vxe-ui-cascader-node-hover-background-color);
  }
  &.is--current,
  &.is--expand {
    font-weight: 700;
  }
  &.is--current {
    background-color: var(--vxe-ui-cascader-node-current-background-color);
  }
  &.is-checkbox--indeterminate {
    color: var(--vxe-ui-cascader-node-checkbox-indeterminate-color);
  }
  &.is-radio--checked,
  &.is-checkbox--checked {
    color: var(--vxe-ui-cascader-node-checkbox-checked-color);
  }
}
.vxe-cascader-chunk--node-item-inner {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-grow: 1;
}
.vxe-cascader-chunk--node-item-title {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vxe-cascader-chunk--node-item-switcher {
  user-select: none;
  flex-shrink: 0;
  width: 1em;
  position: relative;
  .vxe-cascader--node-item-icon > i {
    display: inline-block;
    @include baseMixin.createAnimationTransition(transform, .2s);
  }
}
