@use '../helpers/baseMixin.scss';

// 局部变量
.vxe-checkbox {
  --vxe-ui-checkbox-current-font-size: var(--vxe-ui-font-size-default);
  --vxe-ui-checkbox-current-margin-right: var(--vxe-ui-base-margin-gap-default);
  &.size--xlarge {
    --vxe-ui-checkbox-current-font-size: var(--vxe-ui-font-size-xlarge);
    --vxe-ui-checkbox-current-margin-right: var(--vxe-ui-base-margin-gap-xlarge);
  }
  &.size--large {
    --vxe-ui-checkbox-current-font-size: var(--vxe-ui-font-size-large);
    --vxe-ui-checkbox-current-margin-right: var(--vxe-ui-base-margin-gap-large);
  }
  &.size--medium {
    --vxe-ui-checkbox-current-font-size: var(--vxe-ui-font-size-medium);
    --vxe-ui-checkbox-current-margin-right: var(--vxe-ui-base-margin-gap-medium);
  }
  &.size--small {
    --vxe-ui-checkbox-current-font-size: var(--vxe-ui-font-size-small);
    --vxe-ui-checkbox-current-margin-right: var(--vxe-ui-base-margin-gap-small);
  }
  &.size--mini {
    --vxe-ui-checkbox-current-font-size: var(--vxe-ui-font-size-mini);
    --vxe-ui-checkbox-current-margin-right: var(--vxe-ui-base-margin-gap-mini);
  }
}

/*checkbox-group*/
.vxe-checkbox-group {
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
  &.type--button {
    border-radius: var(--vxe-ui-base-border-radius);
  }
}

.vxe-checkbox-slots {
  display: none;
}
.vxe-checkbox--readonly {
  color: var(--vxe-ui-font-color);
  display: inline-flex;
}

/*checkbox*/
.vxe-checkbox {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 1;
  color: var(--vxe-ui-font-color);
  font-size: var(--vxe-ui-checkbox-current-font-size);
  @include baseMixin.createCheckboxIcon();
  > input {
    &[type="checkbox"] {
      position: absolute;
      width: 0;
      height: 0;
      border: 0;
      appearance: none;
    }
  }
  &:not(.is--disabled) {
    & > input {
      &:focus {
        &+.vxe-checkbox--icon {
          color: var(--vxe-ui-font-primary-darken-color);
        }
      }
    }
  }
  .vxe-checkbox--label {
    vertical-align: middle;
    display: inline-block;
    max-width: 50em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.vxe-checkbox--default,
.vxe-checkbox-group {
  margin-right: var(--vxe-ui-checkbox-current-margin-right);
  &:last-of-type {
    margin-right: 0;
  }
}