@use '../helpers/baseMixin.scss';

/*checkbox-group*/
.vxe-checkbox-group {
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
}

.vxe-checkbox-slots {
  display: none;
}
.vxe-checkbox--readonly {
  color: var(--vxe-ui-font-color);
  display: inline-flex;
}

/*checkbox*/
.vxe-checkbox {
  display: inline-flex;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 1;
  @include baseMixin.createCheckboxIcon();
  > input {
    &[type="checkbox"] {
      position: absolute;
      width: 0;
      height: 0;
      border: 0;
      appearance: none;
    }
  }
  &:not(.is--disabled) {
    & > input {
      &:focus {
        &+.vxe-checkbox--icon {
          color: var(--vxe-ui-font-primary-darken-color);
        }
      }
    }
  }
  .vxe-checkbox--label {
    padding-left: 0.5em;
    vertical-align: middle;
    display: inline-block;
    max-width: 50em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.vxe-checkbox {
  font-size: var(--vxe-ui-font-size-default);
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
}

.vxe-checkbox--default,
.vxe-checkbox-group {
  margin-right: var(--vxe-ui-base-margin-gap-default);
  &.size--medium {
    margin-right: var(--vxe-ui-base-margin-gap-medium);
  }
  &.size--small {
    margin-right: var(--vxe-ui-base-margin-gap-small);
  }
  &.size--mini {
    margin-right: var(--vxe-ui-base-margin-gap-mini);
  }
  &:last-of-type {
    margin-right: 0;
  }
}