.vxe-context-menu {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  &.is--fixed {
    position: fixed;
  }
  &.cp--left {
    .vxe-context-menu--children-wrapper {
      left: -100%;
    }
  }
  &.cp--right {
    .vxe-context-menu--children-wrapper {
      left: 100%;
    }
  }
}

.vxe-context-menu--group-wrapper {
  border-top: 1px solid var(--vxe-ui-base-popup-border-color);
  &:first-child {
    border: 0;
  }
}

.vxe-context-menu--wrapper,
.vxe-context-menu--children-wrapper {
  padding: 0;
  color: var(--vxe-ui-font-color);
  font-family: var(--vxe-ui-font-family);
  border: 1px solid var(--vxe-ui-base-popup-border-color);
  background-color: var(--vxe-ui-layout-background-color);
  border-radius: var(--vxe-ui-base-border-radius);
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.3);
}

.vxe-context-menu--children-wrapper {
  display: none;
  position: absolute;
}

.vxe-context-menu--item-wrapper {
  position: relative;
  min-width: 12em;
  max-width: 20em;
  user-select: none;
  &.is--active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.vxe-context-menu--first-item {
  &.is--active {
    .vxe-context-menu--children-wrapper {
      display: block;
    }
  }
}

.vxe-context-menu--item-inner {
  height: var(--vxe-ui-context-menu-option-height);
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  cursor: pointer;
  &.is--loading {
    opacity: 0.5;
    cursor: progress;
  }
  &.is--disabled {
    color: var(--vxe-ui-font-disabled-color);
    cursor: no-drop;
  }
}

.vxe-context-menu--item-prefix {
  width: 1em;
  text-align: center;
}
.vxe-context-menu--item-prefix,
.vxe-context-menu--item-suffix {
  flex-shrink: 0;
}
.vxe-context-menu--item-label {
  font-size: 0.9em;
  padding: 0 0.5em;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vxe-context-menu {
  font-size: var(--vxe-ui-font-size-default);
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
}