.vxe-countdown {
  display: inline-flex;
  flex-direction: row;
}
.vxe-countdown--content {
  display: flex;
  flex-direction: row;
}
.vxe-countdown--prefix,
.vxe-countdown--suffix,
.vxe-countdown--content {
  padding: 0 0.1em;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.vxe-countdown--content-item {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.vxe-countdown--content-num {
  padding: 0 0.2em;
}

.vxe-countdown {
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
}