.vxe-empty {
  position: relative;
  color: var(--vxe-ui-font-color);
  font-family: var(--vxe-ui-font-family);
  text-align: center;
  font-size: var(--vxe-ui-font-size-default);
}
.vxe-empty--inner {
  display: inline-block;
}
.vxe-empty--icon-wrapper {
  font-size: 4.8em;
  & > i {
    display: block;
  }
}
.vxe-empty--img-wrapper {
  & > img {
    height: 5.2em;
  }
}
.vxe-empty--content-wrapper {
  padding-top: 0.5em 0;
}

.vxe-empty {
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
}