@import '../helpers/mixin.scss';
@import './widget-form/all.scss';

.vxe-design-form {
  display: flex;
  flex-direction: row;
  color: var(--vxe-ui-font-color);
  font-family: var(--vxe-ui-font-family);
}

.vxe-design-form {
  font-size: var(--vxe-ui-font-size);
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
}

.vxe-design-form--widget {
  width: 260px;
  flex-shrink: 0;
  overflow: auto;
}

.vxe-design-form--widget,
.vxe-design-form--setting {
  padding: var(--vxe-ui-layout-padding-default);
  border-radius: var(--vxe-ui-border-radius);
}

.vxe-design-form--setting {
  width: 280px;
  flex-shrink: 0;
  padding-left: var(--vxe-ui-layout-padding-half);
  overflow: auto;
}

.vxe-design-form--preview {
  flex-grow: 1;
  overflow: auto;
  padding: var(--vxe-ui-layout-padding-default) var(--vxe-ui-layout-padding-half);
  user-select: none;
  & > .vxe-form {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: var(--vxe-ui-layout-padding-default) 0;
    background-color: var(--vxe-ui-layout-background-color);
    border-radius: var(--vxe-ui-border-radius);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
}

.vxe-design-form--widget-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.vxe-design-form--widget-title {
  font-weight: 700;
  padding: var(--vxe-ui-layout-padding-half) 0 var(--vxe-ui-layout-padding-half) var(--vxe-ui-layout-padding-half);
}
.vxe-design-form--widget-group {
  border-radius: var(--vxe-ui-border-radius);
  padding: var(--vxe-ui-layout-padding-default);
  margin-bottom: var(--vxe-ui-layout-padding-default);
  background-color: var(--vxe-ui-layout-background-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.vxe-design-form--widget-item {
  width: 50%;
  padding: var(--vxe-ui-layout-padding-half);
}
.vxe-design-form--widget-box {
  position: relative;
  height: 32px;
  line-height: 32px;
  font-size: var(--vxe-ui-design-form-widget-item-font-size);
  padding: 0 var(--vxe-ui-layout-padding-half);
  border-radius: var(--vxe-ui-border-radius);
  border: 1px solid var(--vxe-ui-input-border-color);
  background-color: var(--vxe-ui-design-form-widget-item-background-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: grabbing;
  user-select: none;
  &:hover {
    border-color: var(--vxe-ui-font-primary-lighten-color);
    background-color: #f4f8fc;
    .vxe-design-form--widget-item-add {
      display: block;
    }
  }
}
.vxe-design-form--widget-item-name {
  padding-left: var(--vxe-ui-layout-padding-half);
}
.vxe-design-form--widget-item-add {
  display: none;
  position: absolute;
  top: 0;
  right: var(--vxe-ui-layout-padding-default);
  width: 1em;
  height: 100%;
  cursor: pointer;
  &:hover {
    color: var(--vxe-ui-font-primary-color);
  }
}

.vxe-design-form--preview-list {
  width: 100%;
}

.vxe-design-form--preview-list-move {
  @include createAnimationTransition(transform, 0.35s);
}

.vxe-design-form--preview-item {
  position: relative;
  display: block;
  padding: var(--vxe-ui-layout-padding-default) var(--vxe-ui-layout-padding-double);
  border: 1px solid transparent;
  cursor: grabbing;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &:hover {
    background-color: #f1f3f5;
  }
  &.is--active {
    border: 1px dashed var(--vxe-ui-font-primary-color);
    background-color: #ebf3fc;
  }
  &.is--sort {
    background-color: #dde9fd;
  }
  &.is--drag {
    background-color: #dde9fd;
  }
  &.rows {
    padding: var(--vxe-ui-layout-padding-default) 0;
    &::after {
      display: none;
    }
  }
}
.vxe-design-form--preview-item-view {
  width: 100%;
}
.vxe-design-form--preview-item-operate {
  position: absolute;
  top: calc(var(--vxe-ui-layout-padding-default) * -1);
  right: var(--vxe-ui-layout-padding-default);
  z-index: 3;
}

.vxe-design-form--setting-form {
  height: 100%;
  background-color: var(--vxe-ui-form-background-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}