.vxe-image {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  &.is--circle {
    border-radius: 50%;
    .vxe-image-img {
      border-radius: 50%;
    }
  }
}

.vxe-image-img {
  border-style: none;
}