@import '../helpers/mixin.scss';

.vxe-layout-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  &.is--vertical {
    flex-direction: column;
  }
}