@import '../helpers/mixin.scss';

.vxe-layout-header {
  flex-shrink: 0;
  padding: var(--vxe-ui-layout-padding-default);
  background-color: var(--vxe-ui-layout-background-color);
  &.is--fixed {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
