@import '../helpers/mixin.scss';

.vxe-layout-aside {
  flex-shrink: 0;
  transition: width .3s;
  padding: var(--vxe-ui-layout-padding-default);
  overflow-y: auto;
  overflow-x: hidden;
  &.is--default-width {
    width: var(--vxe-ui-layout-aside-default-width);
  }
  &.is--collapse {
    width: var(--vxe-ui-layout-aside-collapse-width);
  }
}
