@use "sass:list";

// 局部变量
.vxe-password-input {
  --vxe-ui-password-input-current-font-size: var(--vxe-ui-font-size-default);
  --vxe-ui-password-input-current-height: var(--vxe-ui-input-height-default);
  &.size--xlarge {
    --vxe-ui-password-input-current-font-size: var(--vxe-ui-font-size-xlarge);
    --vxe-ui-password-input-current-height: var(--vxe-ui-input-height-xlarge);
  }
  &.size--large {
    --vxe-ui-password-input-current-font-size: var(--vxe-ui-font-size-large);
    --vxe-ui-password-input-current-height: var(--vxe-ui-input-height-large);
  }
  &.size--medium {
    --vxe-ui-password-input-current-font-size: var(--vxe-ui-font-size-medium);
    --vxe-ui-password-input-current-height: var(--vxe-ui-input-height-medium);
  }
  &.size--small {
    --vxe-ui-password-input-current-font-size: var(--vxe-ui-font-size-small);
    --vxe-ui-password-input-current-height: var(--vxe-ui-input-height-small);
  }
  &.size--mini {
    --vxe-ui-password-input-current-font-size: var(--vxe-ui-font-size-mini);
    --vxe-ui-password-input-current-height: var(--vxe-ui-input-height-mini);
  }
}

.vxe-password-input--wrapper {
  flex-grow: 1;
  overflow: hidden;
}
.vxe-password-input--inner {
  display: block;
  width: 100%;
  height: 100%;
  outline: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  padding: 0 0.5em;
  color: var(--vxe-ui-font-color);
  border: 0;
  border-radius: var(--vxe-ui-base-border-radius);
  background-color: var(--vxe-ui-layout-background-color);
  box-shadow: none;
  &[disabled] {
    cursor: not-allowed;
    color: var(--vxe-ui-font-disabled-color);
    background-color: var(--vxe-ui-input-disabled-background-color);
  }
}
.vxe-password-input--inner::placeholder {
  color: var(--vxe-ui-input-placeholder-color);
}
.vxe-password-input--inner::-webkit-autofill {
  background-color: var(--vxe-ui-layout-background-color);
}

// 禁用
.vxe-password-input {
  &.is--disabled {
    background-color: var(--vxe-ui-input-disabled-background-color);
    .vxe-password-input--prefix,
    .vxe-password-input--suffix,
    .vxe-password-input--clear-icon,
    .vxe-password-input--control-icon {
      cursor: not-allowed;
    }
    .vxe-password-input--prefix,
    .vxe-password-input--suffix {
      background-color: var(--vxe-ui-input-disabled-background-color);
    }
  }
}

// 图标
.vxe-password-input {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  border-radius: var(--vxe-ui-base-border-radius);
  width: 180px;
  border: 1px solid var(--vxe-ui-input-border-color);
  &.is--active {
    border: 1px solid var(--vxe-ui-font-primary-color);
  }
  &.show--clear {
    &:hover {
      .vxe-password-input--clear-icon {
        display: block;
      }
    }
  }
}
.vxe-password-input--prefix,
.vxe-password-input--suffix {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--vxe-ui-layout-background-color);
}
.vxe-password-input--prefix {
  border-radius: var(--vxe-ui-base-border-radius) 0 0 var(--vxe-ui-base-border-radius);
}
.vxe-password-input--suffix {
  border-radius: 0 var(--vxe-ui-base-border-radius) var(--vxe-ui-base-border-radius) 0;
}
.vxe-password-input--prefix-icon,
.vxe-password-input--suffix-icon,
.vxe-password-input--clear-icon,
.vxe-password-input--control-icon {
  color: var(--vxe-ui-input-placeholder-color);
}
.vxe-password-input--prefix-icon {
  padding-left: 0.5em;
}
.vxe-password-input--clear-icon,
.vxe-password-input--control-icon,
.vxe-password-input--suffix-icon {
  padding-right: 0.5em;
}
.vxe-password-input--clear-icon,
.vxe-password-input--control-icon {
  height: 100%;
  cursor: pointer;
}
.vxe-password-input--clear-icon {
  display: none;
  &:hover {
    color: var(--vxe-ui-font-color);
  }
  &:active {
    color: var(--vxe-ui-font-primary-color);
  }
}

.vxe-password-input--number-btn {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: var(--vxe-ui-font-color);
  }
  &:active {
    color: var(--vxe-ui-font-primary-color);
  }
}
.vxe-password-input--number-icon {
  display: flex;
  flex-direction: column;
  height: 100%;
  .vxe-password-input--number-btn {
    &.is--disabled {
      cursor: no-drop;
      color: var(--vxe-ui-font-disabled-color);
    }
  }
}

// 统计字数
.vxe-password-input--count {
  flex-shrink: 0;
  color: var(--vxe-ui-input-count-color);
  background-color: var(--vxe-ui-layout-background-color);
  padding-right: 0.6em;
  &.is--error {
    color: var(--vxe-ui-input-count-error-color);
  }
}

// 对齐方式
.vxe-password-input {
  &.is--left {
    .vxe-password-input--inner {
      text-align: left;
    }
  }
  &.is--center {
    .vxe-password-input--inner {
      text-align: center;
    }
  }
  &.is--right {
    .vxe-password-input--inner {
      text-align: right;
    }
  }
}

.vxe-password-input--panel {
  display: none;
  position: absolute;
  left: 0;
  padding: 4px 0;
  color: var(--vxe-ui-font-color);
  font-size: var(--vxe-ui-font-size-default);
  text-align: left;
  &:not(.is--transfer) {
    min-width: 100%;
  }
  &.is--transfer {
    position: fixed;
  }
  &.ani--leave {
    display: block;
    opacity: 0;
    transform: scaleY(0.5);
    transition: transform .3s cubic-bezier(.23,1,.32,1), opacity .3s cubic-bezier(.23,1,.32,1);
    transform-origin: center top;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    &[placement="top"] {
      transform-origin: center bottom;
    }
  }
  &.ani--enter {
    opacity: 1;
    transform: scaleY(1);
  }
}

.vxe-password-input {
  font-size: var(--vxe-ui-password-input-current-font-size);
  height: var(--vxe-ui-password-input-current-height);
  line-height: var(--vxe-ui-password-input-current-height);
}
