@import '../helpers/mixin.scss';

$iconWidth: 1.6em;

.vxe-password-input--inner {
  width: 100%;
  height: 100%;
  border-radius: var(--vxe-ui-base-border-radius);
  outline: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  padding: 0 0.6em;
  color: var(--vxe-ui-font-color);
  border: 1px solid var(--vxe-ui-input-border-color);
  background-color: var(--vxe-ui-layout-background-color);
  box-shadow: none;
  &::placeholder {
    color: var(--vxe-ui-input-placeholder-color);
  }
  &::-webkit-autofill {
    background-color: var(--vxe-ui-layout-background-color);
  }
  &[disabled] {
    cursor: not-allowed;
    color: var(--vxe-ui-font-disabled-color);
    background-color: var(--vxe-ui-input-disabled-background-color);
  }
}

.vxe-password-input {
  display: inline-block;
  position: relative;
  width: 180px;
  &.is--disabled {
    .vxe-password-input--password-suffix {
      cursor: no-drop;
    }
  }
  &:not(.is--disabled) {
    .vxe-password-input--clear-icon,
    .vxe-password-input--password-suffix {
      cursor: pointer;
    }
    &.is--active {
      .vxe-input--inner {
        border: 1px solid var(--vxe-ui-font-primary-color);
      }
    }
  }
  .vxe-password-input--extra-suffix {
    display: flex;
    position: absolute;
    top: 0;
    width: $iconWidth;
    height: 100%;
    user-select: none;
    align-items: center;
    justify-content: center;
    color: var(--vxe-ui-font-color);
  }
}

.vxe-password-input {
  .vxe-password-input--clear-icon {
    display: none;
  }
  .vxe-password-input--extra-suffix {
    right: 0.2em;
  }
  &:not(.is--disabled) {
    .vxe-password-input--extra-suffix {
      &:hover {
        .vxe-password-input--password-suffix {
          color: var(--vxe-ui-font-color);
        }
      }
      &:active {
        .vxe-password-input--password-suffix {
          color: var(--vxe-ui-font-primary-color);
        }
      }
    }
  }
}

.vxe-password-input {
  .vxe-password-input--password-suffix {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .vxe-password-input--password-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &[class*="vxe-icon-"] {
      font-size: 1.2em;
    }
  }
}

.vxe-password-input {
  font-size: var(--vxe-ui-font-size-default);
  height: var(--vxe-ui-input-height-default);
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
    height: var(--vxe-ui-input-height-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
    height: var(--vxe-ui-input-height-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
    height: var(--vxe-ui-input-height-mini);
  }
}
