@use "sass:map";
@use "sass:list";
@use '../helpers/baseMixin.scss';
@use '../helpers/placement.scss';
@use '../helpers/themeStatus.scss';


// 局部变量
.vxe-radio--button {
  --vxe-ui-radio--button-current-margin-left: var(--vxe-ui-base-margin-gap-default);
  &.size--xlarge {
    --vxe-ui-radio--button-current-margin-left: var(--vxe-ui-base-margin-gap-xlarge);
  }
  &.size--large {
    --vxe-ui-radio--button-current-margin-left: var(--vxe-ui-base-margin-gap-large);
  }
  &.size--medium {
    --vxe-ui-radio--button-current-margin-left: var(--vxe-ui-base-margin-gap-medium);
  }
  &.size--small {
    --vxe-ui-radio--button-current-margin-left: var(--vxe-ui-base-margin-gap-small);
  }
  &.size--mini {
    --vxe-ui-radio--button-current-margin-left: var(--vxe-ui-base-margin-gap-mini);
  }
}

.vxe-radio--button {
  &:first-child {
    .vxe-radio--label {
      border-left: 1px solid var(--vxe-ui-input-border-color);
      border-radius: var(--vxe-ui-base-border-radius) 0 0 var(--vxe-ui-base-border-radius);
    }
  }
  &:last-child {
    .vxe-radio--label {
      border-radius: 0 var(--vxe-ui-base-border-radius) var(--vxe-ui-base-border-radius) 0;
    }
  }
  .vxe-radio--label {
    padding: 0 1em;
    line-height: calc(var(--vxe-ui-button-height-default) - 2px);
    display: inline-block;
    border-style: solid;
    border-color: var(--vxe-ui-input-border-color);
    border-width: 1px 1px 1px 0;
    max-width: 50em;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include baseMixin.createAnimationTransition(all, 0.2s);
  }
}

.vxe-radio--button {
  & > input {
    &:checked+.vxe-radio--label {
      color: #fff;
      border-color: var(--vxe-ui-font-primary-color);
      background-color: var(--vxe-ui-font-primary-color);
      &:not(.is--disabled) {
        &:hover {
          background-color: var(--vxe-ui-font-primary-lighten-color);
          border-color: var(--vxe-ui-font-primary-lighten-color);
        }
        &:active {
          background-color: var(--vxe-ui-font-primary-darken-color);
          border-color: var(--vxe-ui-font-primary-darken-color);
        }
      }
      &.is--disabled {
        border-color: var(--vxe-ui-font-primary-disabled-color);
        background-color: var(--vxe-ui-font-primary-disabled-color);
      }
    }
  }
}

.vxe-radio-group {
  @for $index from 0 to list.length(themeStatus.$btnThemeList) {
    $item: list.nth(themeStatus.$btnThemeList, $index + 1);
    $textColor: map.get($item, textColor);
    $btnColor: map.get($item, btnColor);
    &.theme--#{map.get($item, name)} {
      .vxe-radio--button {
        & > input {
          &:checked+.vxe-radio--label {
            color: $btnColor;
            border-color: $textColor;
            background-color: $textColor;
            &:not(.is--disabled) {
              &:hover {
                color: $btnColor;
                background-color: map.get($item, btnLightenColor);
                border-color: map.get($item, btnLightenColor);
              }
              &:active {
                color: $btnColor;
                background-color: map.get($item, btnDarkenColor);
                border-color: map.get($item, btnDarkenColor);
              }
            }
            &.is--disabled {
              border-color: map.get($item, btnDisabledColor);
              background-color: map.get($item, btnDisabledColor);
            }
          }
        }
      }
    }
  }
}

.vxe-radio--button-icon {
  &+.vxe-radio--button-content {
    margin-left: var(--vxe-ui-radio--button-current-margin-left);
  }
}

.vxe-radio--button {
  &.size--medium {
    .vxe-radio--label {
      line-height: calc(var(--vxe-ui-button-height-medium) - 2px);
    }
  }
  &.size--small {
    .vxe-radio--label {
      line-height: calc(var(--vxe-ui-button-height-small) - 2px);
    }
  }
  &.size--mini {
    .vxe-radio--label {
      line-height: calc(var(--vxe-ui-button-height-mini) - 2px);
    }
  }
}