@use '../helpers/baseMixin.scss';

/*radio-group*/
.vxe-radio-group {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 0;
}

.vxe-radio--readonly {
  color: var(--vxe-ui-font-color);
  display: inline-flex;
}

/*radio*/
.vxe-radio {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 1;
  @include baseMixin.createRadioIcon();
  > input {
    &[type="radio"] {
      position: absolute;
      width: 0;
      height: 0;
      border: 0;
      appearance: none;
    }
  }
  .vxe-radio--label {
    vertical-align: middle;
    display: inline-block;
    max-width: 50em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &:not(.is--disabled) {
    > input {
      &:focus+.vxe-radio--icon {
        box-shadow: 0 0 0.2em 0 var(--vxe-ui-font-primary-color);
      }
    }
  }
}

.vxe-radio--button {
  .vxe-radio--label {
    background-color: var(--vxe-ui-layout-background-color);
  }
  &:first-child {
    .vxe-radio--label {
      border-left: 1px solid var(--vxe-ui-input-border-color);
      border-radius: var(--vxe-ui-base-border-radius) 0 0 var(--vxe-ui-base-border-radius);
    }
  }
  &:last-child {
    .vxe-radio--label {
      border-radius: 0 var(--vxe-ui-base-border-radius) var(--vxe-ui-base-border-radius) 0;
    }
  }
  > input {
    &:checked+.vxe-radio--label {
      color: #fff;
      background-color: var(--vxe-ui-font-primary-color);
      border-color: var(--vxe-ui-font-primary-color);
    }
  }
  .vxe-radio--label {
    padding: 0 1em;
    line-height: calc(var(--vxe-ui-button-height-default) - 2px);
    display: inline-block;
    border-style: solid;
    border-color: var(--vxe-ui-input-border-color);
    border-width: 1px 1px 1px 0;
    max-width: 50em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & > input {
    &:focus {
      &+.vxe-radio--label {
        border-color: var(--vxe-ui-font-primary-color);
        box-shadow: 0 0 0.2em 0 var(--vxe-ui-font-primary-color);
      }
    }
  }
  &.size--medium {
    .vxe-radio--label {
      line-height: calc(var(--vxe-ui-button-height-medium) - 2px);
    }
  }
  &.size--small {
    .vxe-radio--label {
      line-height: calc(var(--vxe-ui-button-height-small) - 2px);
    }
  }
  &.size--mini {
    .vxe-radio--label {
      line-height: calc(var(--vxe-ui-button-height-mini) - 2px);
    }
  }
}

.vxe-radio {
  font-size: var(--vxe-ui-font-size-default);
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.vxe-radio--default,
.vxe-radio-group {
  margin-right: var(--vxe-ui-base-margin-gap-default);
  &.size--medium {
    margin-right: var(--vxe-ui-base-margin-gap-medium);
  }
  &.size--small {
    margin-right: var(--vxe-ui-base-margin-gap-small);
  }
  &.size--mini {
    margin-right: var(--vxe-ui-base-margin-gap-mini);
  }
  &:last-of-type {
    margin-right: 0;
  }
}