@use '../helpers/baseMixin.scss';

// 局部变量
.vxe-radio {
  --vxe-ui-radio-current-font-size: var(--vxe-ui-font-size-default);
  --vxe-ui-radio-current-margin-right: var(--vxe-ui-base-margin-gap-default);
  &.size--xlarge {
    --vxe-ui-radio-current-font-size: var(--vxe-ui-font-size-xlarge);
    --vxe-ui-radio-current-margin-right: var(--vxe-ui-base-margin-gap-xlarge);
  }
  &.size--large {
    --vxe-ui-radio-current-font-size: var(--vxe-ui-font-size-large);
    --vxe-ui-radio-current-margin-right: var(--vxe-ui-base-margin-gap-large);
  }
  &.size--medium {
    --vxe-ui-radio-current-font-size: var(--vxe-ui-font-size-medium);
    --vxe-ui-radio-current-margin-right: var(--vxe-ui-base-margin-gap-medium);
  }
  &.size--small {
    --vxe-ui-radio-current-font-size: var(--vxe-ui-font-size-small);
    --vxe-ui-radio-current-margin-right: var(--vxe-ui-base-margin-gap-small);
  }
  &.size--mini {
    --vxe-ui-radio-current-font-size: var(--vxe-ui-font-size-mini);
    --vxe-ui-radio-current-margin-right: var(--vxe-ui-base-margin-gap-mini);
  }
}

/*radio-group*/
.vxe-radio-group {
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
  font-size: 0;
  &.type--button {
    border-radius: var(--vxe-ui-base-border-radius);
  }
}

.vxe-radio--readonly {
  color: var(--vxe-ui-font-color);
  display: inline-flex;
}

/*radio*/
.vxe-radio {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 1;
  color: var(--vxe-ui-font-color);
  font-size: var(--vxe-ui-radio-current-font-size);
  @include baseMixin.createRadioIcon();
  > input {
    &[type="radio"] {
      position: absolute;
      width: 0;
      height: 0;
      border: 0;
      appearance: none;
    }
  }
  .vxe-radio--label {
    vertical-align: middle;
    display: inline-block;
    max-width: 50em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &:not(.is--disabled) {
    > input {
      &:focus+.vxe-radio--icon {
        color: var(--vxe-ui-font-primary-darken-color);
      }
    }
  }
}

.vxe-radio {
  &:last-of-type {
    margin-right: 0;
  }
}

.vxe-radio--default,
.vxe-radio-group {
  margin-right: var(--vxe-ui-radio-current-margin-right);
}
