@use "sass:list";
@use '../helpers/baseMixin.scss';

.vxe-split {
  &.is--vertical {
    & > .vxe-split-wrapper {
      flex-direction: column;
      & > .vxe-split-item {
        width: 100%;
      }
    }
  }
  &.is--drag {
    user-select: none;
    & > .vxe-split-wrapper {
      & > .vxe-split-item {
        & > .vxe-split-item--wrapper {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: transparent;
          }
        }
      }
    } 
  }
}
.vxe-split-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.vxe-split-slots {
  display: none;
}

.vxe-split-item-handle {
  position: relative;
  flex-shrink: 0;
  user-select: none;
}

.vxe-split-item--wrapper {
  position: relative;
  word-break: break-word;
  overflow: hidden;
  flex-grow: 1;
}
.vxe-split-item--inner {
  height: 100%;
  width: 100%;
  overflow: auto;
  & > .vxe-split {
    height: 100%;
  }
}
.vxe-split-item-handle-bar {
  background-color: var(--vxe-split-handle-bar-background-color);
}
.vxe-split-item-action-btn {
  display: block;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-color: var(--vxe-ui-layout-background-color);
  border: 1px solid var(--vxe-ui-input-border-color);
  @include baseMixin.createAnimationTransition(transform, 0.1s);
}

.vxe-split-item {
  display: flex;
  position: relative;
  overflow: auto;
  &.is--hidden {
    width: 0;
  }
  &.is--padding {
    & > .vxe-split-item--wrapper {
      padding: var(--vxe-ui-layout-padding-default);
    }
  }
  &.is--fill {
    flex-grow: 1;
  }
  &.is--width, 
  &.is--height {
    flex-shrink: 0;
  }
  &.is--border {
    & > .vxe-split-item--wrapper,
    & > .vxe-split-item-handle {
      border: 1px solid var(--vxe-ui-base-popup-border-color);
    }
  }
  &.is--expand {
    &.is--horizontal {
      & > .vxe-split-item-handle {
        .vxe-split-item-handle-bar {
          cursor: w-resize;
        }
      }
    }
    &.is--vertical {
      & > .vxe-split-item-handle {
        .vxe-split-item-handle-bar {
          cursor: n-resize;
        }
      }
    }
    & > .vxe-split-item-handle {
      & > .vxe-split-item-handle-bar {
        background-color: var(--vxe-split-handle-bar-background-color);
        &:hover {
          background-color: var(--vxe-ui-font-primary-lighten-color);
        }
        &:active {
          background-color: var(--vxe-ui-font-primary-darken-color);
        }
      }
    }
  }
  &.is--horizontal {
    flex-direction: row;
    & > .vxe-split-item-handle {
      &.to--prev {
        .vxe-split-item-action-btn {
          left: 0;
        }
      }
      &.to--next {
        .vxe-split-item-action-btn {
          right: 0;
        }
      }
      .vxe-split-item-handle-bar {
        width: var(--vxe-split-handle-bar-width);
        height: 100%;
      }
      .vxe-split-item-action-btn {
        top: 50%;
        transform: translateY(-50%);
        padding: 1em 0;
        &:hover {
          color: var(--vxe-ui-font-primary-color);
        }
        &:active {
          transform: translateY(-50%) scale(0.9);
        }
      }
    }
    &.is--border {
      & > .vxe-split-item-handle {
        border-width: 1px 0 1px 0;
      }
    }
  }
  &.is--vertical {
    flex-direction: column;
    & > .vxe-split-item-handle {
      &.to--prev {
        .vxe-split-item-action-btn {
          top: 0;
        }
      }
      &.to--next {
        .vxe-split-item-action-btn {
          bottom: 0;
        }
      }
      .vxe-split-item-handle-bar {
        height: var(--vxe-split-handle-bar-height);
        width: 100%;
      }
      .vxe-split-item-action-btn {
        left: 50%;
        transform: translateX(-50%);
        padding: 0 1em;
        &:hover {
          color: var(--vxe-ui-font-primary-color);
        }
        &:active {
          transform: translateX(-50%) scale(0.9);
        }
      }
    }
    &.is--border {
      & > .vxe-split-item-handle {
        border-width: 0 1px 0 1px;
      }
    }
  }
}