@import '../helpers/mixin.scss';

.vxe-tabs-header {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--vxe-ui-input-border-color);
    z-index: 0;
  }
}
.vxe-tabs-header--wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}
.vxe-tab-header--item {
  position: relative;
  padding: 0 16px;
  cursor: pointer;
  &.is--active {
    color: var(--vxe-ui-font-primary-color);;
  }
}
.vxe-tabs-header--active-line-card,
.vxe-tab-header--item-name {
  height: 40px;
  line-height: 40px;
}
.vxe-tabs-header--active-line-border-card {
  height: 41px;
  line-height: 41px;
}
.vxe-tab-header--item-name {
  @include createAnimationTransition(color, .3s);
}
.vxe-tab-pane--item {
  display: none;
  padding: var(--vxe-ui-layout-padding-default);
  &.is--visible {
    display: block;
  }
}
.vxe-tabs-header--active-line-card,
.vxe-tabs-header--active-line-border-card {
  transition: color,left 0.3s ease-in-out;
}
.vxe-tabs-header--active-line-default,
.vxe-tabs-header--active-line-card,
.vxe-tabs-header--active-line-border-card,
.vxe-tabs-header--active-line-round-card {
  display: none;
}
.vxe-tabs-header--active-line-border-card {
  border-left: 1px solid var(--vxe-ui-input-border-color);
  border-right: 1px solid var(--vxe-ui-input-border-color);
}

.vxe-tabs--default,
.vxe-tabs--card,
.vxe-tabs--border-card,
.vxe-tabs--round-card {
  border-radius: var(--vxe-ui-base-border-radius) var(--vxe-ui-base-border-radius) 0 0;
  background-color: var(--vxe-ui-layout-background-color);
}

.vxe-tabs--default {
  .vxe-tab-header--item-name {
    border-bottom: 2px solid transparent;
  }
  .vxe-tabs-header--active-line-default {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 4px;
    background-color: var(--vxe-ui-font-primary-color);
    z-index: 2;
    @include createAnimationTransition(all, .3s);
  }
}

.vxe-tabs--card {
  .vxe-tabs-header--active-line-card {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    border: 1px solid var(--vxe-ui-font-primary-color);
    pointer-events: none;
    z-index: 1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  .vxe-tabs-header {
    border-radius: var(--vxe-ui-base-border-radius) var(--vxe-ui-base-border-radius) 0 0;
    border-top: 1px solid var(--vxe-ui-input-border-color);
    border-left: 1px solid var(--vxe-ui-input-border-color);
  }
  .vxe-tab-header--item {
    border-left: 1px solid var(--vxe-ui-input-border-color);
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 1px solid var(--vxe-ui-input-border-color);
    }
  }
}
.vxe-tabs--border-card {
  .vxe-tabs-header--wrapper {
    z-index: 2;
  }
  .vxe-tabs-header--active-line-border-card {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    background-color: var(--vxe-ui-layout-background-color);
    pointer-events: none;
    z-index: 1;
  }
  .vxe-tab-pane--item {
    border-bottom: 1px solid var(--vxe-ui-input-border-color);
    border-left: 1px solid var(--vxe-ui-input-border-color);
    border-right: 1px solid var(--vxe-ui-input-border-color);
  }
  .vxe-tabs-header {
    border-radius: var(--vxe-ui-base-border-radius) var(--vxe-ui-base-border-radius) 0 0;
    border-top: 1px solid var(--vxe-ui-input-border-color);
    border-left: 1px solid var(--vxe-ui-input-border-color);
    border-right: 1px solid var(--vxe-ui-input-border-color);
    background-color: var(--vxe-ui-tabs-card-header-background-color);
  }
}

.vxe-tabs--round-card {
  .vxe-tabs-header--wrapper {
    z-index: 2;
  }
  .vxe-tab-header--item {
    position: relative;
    z-index: 2;
    margin: 0 2px;
    border-top: 1px solid var(--vxe-ui-input-border-color);
    border-left: 1px solid var(--vxe-ui-input-border-color);
    border-right: 1px solid var(--vxe-ui-input-border-color);
    border-radius: var(--vxe-ui-base-border-radius) var(--vxe-ui-base-border-radius) 0 0;
    background-color: rgba(0, 0, 0, 0.02);
    @include createAnimationTransition(color, .3s);
    &.is--active {
      background-color: var(--vxe-ui-layout-background-color);
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .vxe-tab-pane--item {
    border-bottom: 1px solid var(--vxe-ui-input-border-color);
    border-left: 1px solid var(--vxe-ui-input-border-color);
    border-right: 1px solid var(--vxe-ui-input-border-color);
  }
  .vxe-tabs-pane {
    background-color: var(--vxe-ui-layout-background-color);
  }
}