@use "sass:map";
@use "sass:list";
@use '../helpers/themeStatus.scss';

// 局部变量
.vxe-text-ellipsis {
  --vxe-ui-text-ellipsis-current-font-size: inherit;
  &.size--xlarge {
    --vxe-ui-text-ellipsis-current-font-size: var(--vxe-ui-font-size-xlarge);
  }
  &.size--large {
    --vxe-ui-text-ellipsis-current-font-size: var(--vxe-ui-font-size-large);
  }
  &.size--medium {
    --vxe-ui-text-ellipsis-current-font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    --vxe-ui-text-ellipsis-current-font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    --vxe-ui-text-ellipsis-current-font-size: var(--vxe-ui-font-size-mini);
  }
}

.vxe-text-ellipsis {
  display: block;
  overflow: hidden;
  white-space: normal;
  font-size: var(--vxe-ui-text-ellipsis-current-font-size);
  @for $index from 0 to list.length(themeStatus.$btnThemeList) {
    $item: list.nth(themeStatus.$btnThemeList, $index + 1);
    &.theme--#{map.get($item, name)} {
      color: map.get($item, textColor);
      & > .vxe-text-ellipsis--link {
        &:focus {
          color: map.get($item, btnDarkenColor);
        }
        &:hover {
          color: map.get($item, btnLightenColor);
        }
      }
    }
  }
  &.is--underline {
    &:hover {
      .vxe-text-ellipsis--link {
        text-decoration: underline;
      }
    }
  }
  &.is--single {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.is--multi {
    word-wrap: break-word;
    word-break: break-all;
  }
  &.is--copy {
    & > .vxe-text-ellipsis--icon {
      cursor: pointer;
      &:focus {
        color: var(--vxe-ui-font-darken-color);
      }
      &:hover {
        color: var(--vxe-ui-font-primary-lighten-color);
      }
      &:active {
        color: var(--vxe-ui-font-primary-darken-color);
      }
    }
  }
  .vxe-text-ellipsis--reality {
    display: none;
    z-index: -1;
    pointer-events: none;
  }
}
.vxe-text-ellipsis--icon {
  padding: 0 0.1em;
  user-select: none;
}
.vxe-text-ellipsis--content,
.vxe-text-ellipsis--link {
  padding: 0 0.1em;
}
.vxe-text-ellipsis--link {
  text-decoration: none;
  color: inherit;
}
