$btnThemeList: (
  (
    name: "primary",
    borderColor: var(--vxe-ui-font-primary-color),
    bgColor: var(--vxe-ui-tips-primary-background-color),
  ),
  (
    name: "success",
    borderColor: var(--vxe-ui-status-success-color),
    bgColor: var(--vxe-ui-tips-success-background-color),
  ),
  (
    name: "info",
    borderColor: var(--vxe-ui-status-info-color),
    bgColor: var(--vxe-ui-tips-info-background-color),
  ),
  (
    name: "warning",
    borderColor: var(--vxe-ui-status-warning-color),
    bgColor: var(--vxe-ui-tips-warning-background-color),
  ),
  (
    name: "danger",
    borderColor: var(--vxe-ui-status-danger-color),
    bgColor: var(--vxe-ui-tips-danger-background-color),
  ),
  (
    name: "error",
    borderColor: var(--vxe-ui-status-error-color),
    bgColor: var(--vxe-ui-tips-error-background-color),
  )
);

.vxe-tips {
  position: relative;
  display: flex;
  flex-direction: row;
  color: var(--vxe-ui-font-color);
  margin-bottom: var(--vxe-ui-layout-padding-double);
  padding: var(--vxe-ui-layout-padding-default) var(--vxe-ui-layout-padding-threefold) var(--vxe-ui-layout-padding-double) var(--vxe-ui-layout-padding-threefold);
  font-size: var(--vxe-ui-font-size-default);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--vxe-ui-font-color);
    z-index: 1;
  }
  @for $index from 0 to length($btnThemeList) {
    $item: nth($btnThemeList, $index + 1);
    &.theme--#{map-get($item, name)} {
      background-color: map-get($item, bgColor);
      &::after {
        background-color: map-get($item, borderColor);
      }
      .vxe-tips--icon {
        color: map-get($item, borderColor);
      }
    }
  }
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
}
.vxe-tips--icon {
  flex-shrink: 0;
  font-size: 1.2em;
  padding-right: var(--vxe-ui-layout-padding-half);
}
.vxe-tips--body {
  flex-grow: 1;
}
.vxe-tips--title {
  font-size: 1.1em;
  margin-bottom: 0.7em;
  font-weight: 700;
}