@import '../helpers/mixin.scss';

.vxe-tree {
  position: relative;
  color: var(--vxe-ui-font-color);
  font-family: var(--vxe-ui-font-family);
  &.node--trigger {
    .vxe-tree--node-item-wrapper {
      cursor: pointer;
    }
  }
  &.node--hover {
    .vxe-tree--node-item-wrapper {
      &:hover {
        background-color: var(--vxe-ui-font-primary-hover-color);
      }
    }
  }
  .vxe-tree--node-item-node {
    &.is--current {
      & > .vxe-tree--node-item-wrapper {
        background-color: var(--vxe-ui-font-primary-tinge-color);
      }
    }
  }
  &.show--line {
    .vxe-tree--node-list-wrapper {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0.7em;
        top: calc(var(--vxe-ui-tree-node-height) / 2);
        height: calc(100% - var(--vxe-ui-tree-node-height));
        border-left-width: var(--vxe-ui-tree-node-line-width);
        border-left-style: var(--vxe-ui-tree-node-line-style);
        border-left-color: var(--vxe-ui-tree-node-line-color);
        pointer-events: none;
        z-index: 5;
      }
    }
    .vxe-tree--node-child-line {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - 0.7em);
      transform: translateX(-0.6em);
      border-left-width: var(--vxe-ui-tree-node-line-width);
      border-left-style: var(--vxe-ui-tree-node-line-style);
      border-left-color: var(--vxe-ui-tree-node-line-color);
      pointer-events: none;
      z-index: 5;
    }
    .vxe-tree--node-item-switcher {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0.8em;
        top: 50%;
        width: 0.5em;
        border-bottom-width: var(--vxe-ui-tree-node-line-width);
        border-bottom-style: var(--vxe-ui-tree-node-line-style);
        border-bottom-color: var(--vxe-ui-tree-node-line-color);
        pointer-events: none;
        z-index: 5;
      }
    }
  }
}
.vxe-tree--node-child-wrapper {
  position: relative;
}
.vxe-tree--node-item-wrapper {
  display: flex;
  flex-direction: row;
  height: var(--vxe-ui-tree-node-height);
  line-height: var(--vxe-ui-tree-node-height);
}
.vxe-tree--node-item-switcher {
  position: relative;
  width: 1.4em;
  flex-shrink: 0;
  user-select: none;
}
.vxe-tree--node-item-icon {
  position: absolute;
  display: inline-flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
  z-index: 7;
  & > i {
    display: inline-flex;
    @include createAnimationTransition(all, 0.2s);
  }
}
.vxe-tree--node-item-label {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vxe-tree--checkbox-option {
  @include createCheckboxIcon();
  padding-right: 0.4em;
}
.vxe-tree--radio-option {
  @include createRadioIcon();
  padding-right: 0.4em;
}

.vxe-tree {
  font-size: var(--vxe-ui-font-size-default);
  &.size--medium {
    font-size: var(--vxe-ui-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-ui-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-ui-font-size-mini);
  }
}