$vxe-ui-font-color: #606266;
$vxe-ui-font-primary-color: #409eff;

$vxe-ui-status-success-color: #67c23a;
$vxe-ui-status-info-color: #909399;
$vxe-ui-status-warning-color: #e6a23c;
$vxe-ui-status-danger-color: #f56c6c;
$vxe-ui-status-error-color: #f56c6c;

:root {
  /*font*/
  --vxe-ui-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  
  /*font size*/
  --vxe-ui-font-size: 14px;
  --vxe-ui-font-size-medium: 14px;
  --vxe-ui-font-size-small: 13px;
  --vxe-ui-font-size-mini: 12px;

  /*font color*/
  --vxe-ui-font-color: #{$vxe-ui-font-color}; // 全局默认字体颜色
  --vxe-ui-font-primary-color: #{$vxe-ui-font-primary-color}; // 主要字体颜色
  --vxe-ui-font-primary-lighten-color: #{lighten($vxe-ui-font-primary-color, 10%)};
  --vxe-ui-font-primary-darken-color: #{darken($vxe-ui-font-primary-color, 10%)};
  --vxe-ui-font-primary-disabled-color: #{lighten($vxe-ui-font-primary-color, 20%)};
  --vxe-ui-font-secondary-color: #909399; // 次要字体颜色
  --vxe-ui-font-placeholder-color: #a8abb2; // 占位符字体颜色
  --vxe-ui-font-lighten-color: #{lighten($vxe-ui-font-color, 10%)};
  --vxe-ui-font-darken-color: #{darken($vxe-ui-font-color, 10%)};
  --vxe-ui-font-disabled-color: #BFBFBF;

  /*base border*/
  --vxe-ui-border-radius: 4px;

  /*input/radio/checkbox*/
  --vxe-input-border-color: #424242;
  --vxe-input-disabled-color: #8D9095;
  --vxe-input-disabled-background-color: #585656;
  --vxe-input-placeholder-color: #8D9095;

  /*popup*/
  --vxe-table-popup-border-color: #424242;

  /*base status*/
  --vxe-ui-status-success-color: #{$vxe-ui-status-success-color};
  --vxe-ui-status-info-color: #{$vxe-ui-status-info-color};
  --vxe-ui-status-warning-color: #{$vxe-ui-status-warning-color};
  --vxe-ui-status-danger-color: #{$vxe-ui-status-danger-color};
  --vxe-ui-status-error-color: #{$vxe-ui-status-error-color};

  --vxe-ui-status-success-lighten-color: #{lighten($vxe-ui-status-success-color, 10%)};
  --vxe-ui-status-info-lighten-color: #{lighten($vxe-ui-status-info-color, 10%)};
  --vxe-ui-status-warning-lighten-color: #{lighten($vxe-ui-status-warning-color, 10%)};
  --vxe-ui-status-danger-lighten-color: #{lighten($vxe-ui-status-danger-color, 10%)};
  --vxe-ui-status-error-lighten-color: #{lighten($vxe-ui-status-error-color, 10%)};
  
  --vxe-ui-status-success-darken-color: #{darken($vxe-ui-status-success-color, 10%)};
  --vxe-ui-status-info-darken-color: #{darken($vxe-ui-status-info-color, 10%)};
  --vxe-ui-status-warning-darken-color: #{darken($vxe-ui-status-warning-color, 10%)};
  --vxe-ui-status-danger-darken-color: #{darken($vxe-ui-status-danger-color, 10%)};
  --vxe-ui-status-error-lighten-color: #{lighten($vxe-ui-status-error-color, 10%)};
  
  --vxe-ui-status-success-disabled-color: #{lighten($vxe-ui-status-success-color, 20%)};
  --vxe-ui-status-info-disabled-color: #{lighten($vxe-ui-status-info-color, 20%)};
  --vxe-ui-status-warning-disabled-color: #{lighten($vxe-ui-status-warning-color, 20%)};
  --vxe-ui-status-danger-disabled-color: #{lighten($vxe-ui-status-danger-color, 20%)};
  --vxe-ui-status-error-lighten-color: #{lighten($vxe-ui-status-error-color, 10%)};

  /*layout*/
  --vxe-ui-layout-padding-default: 8px;
  --vxe-ui-layout-padding-half: calc(var(--vxe-ui-layout-padding-default) / 2);
  --vxe-ui-layout-aside-default-width: 300px;
  --vxe-ui-layout-aside-collapse-width: 60px;

  // icon

  // button
  --vxe-ui-button-max-width: 500px;
  --vxe-ui-button-default-background-color: #fff;
  --vxe-ui-button-dropdown-panel-background-color: #fff;
  --vxe-ui-button-height-default: 34px;
  --vxe-ui-button-height-medium: 32px;
  --vxe-ui-button-height-small: 30px;
  --vxe-ui-button-height-mini: 28px;
  --vxe-ui-button-round-border-radius-default: 17px;
  --vxe-ui-button-round-border-radius-medium: 16px;
  --vxe-ui-button-round-border-radius-small: 15px;
  --vxe-ui-button-round-border-radius-mini: 14px;

  /*input*/
  --vxe-input-background-color: #{$vxe-input-background-color};
  --vxe-input-panel-background-color: #{$vxe-input-panel-background-color};
  --vxe-input-number-disabled-color: #{$vxe-input-number-disabled-color};
  --vxe-input-date-festival-color: #{$vxe-input-date-festival-color};
  --vxe-input-date-festival-important-color: #{$vxe-input-date-festival-important-color};
  --vxe-input-date-notice-background-color: #{$vxe-input-date-notice-background-color};
  --vxe-input-date-picker-hover-background-color: #{$vxe-input-date-picker-hover-background-color};
  --vxe-input-date-picker-selected-color: #{$vxe-input-date-picker-selected-color};
  --vxe-input-date-time-confirm-button-color: #{$vxe-input-date-time-confirm-button-color};
  --vxe-input-date-picker-festival-selected-color: #{$vxe-input-date-picker-festival-selected-color};
  --vxe-input-date-picker-notice-selected-background-color: #{$vxe-input-date-picker-notice-selected-background-color};
  --vxe-input-date-extra-color: #{$vxe-input-date-extra-color};
  --vxe-input-date-extra-important-color: #{$vxe-input-date-extra-important-color};
  --vxe-input-date-title-height-default: #{$vxe-input-date-title-height-default};
  --vxe-input-date-title-height-medium: #{$vxe-input-date-title-height-medium};
  --vxe-input-date-title-height-small: #{$vxe-input-date-title-height-small};
  --vxe-input-date-title-height-mini: #{$vxe-input-date-title-height-mini};
  --vxe-input-date-time-week-row-height-default: #{$vxe-input-date-time-week-row-height-default};
  --vxe-input-date-time-week-row-height-medium: #{$vxe-input-date-time-week-row-height-medium};
  --vxe-input-date-time-week-row-height-small: #{$vxe-input-date-time-week-row-height-small};
  --vxe-input-date-time-week-row-height-mini: #{$vxe-input-date-time-week-row-height-mini};
  --vxe-input-date-month-year-row-height-default: #{$vxe-input-date-month-year-row-height-default};
  --vxe-input-date-month-year-row-height-medium: #{$vxe-input-date-month-year-row-height-medium};
  --vxe-input-date-month-year-row-height-small: #{$vxe-input-date-month-year-row-height-small};
  --vxe-input-date-month-year-row-height-mini: #{$vxe-input-date-month-year-row-height-mini};
  --vxe-input-date-quarter-row-height-default: #{$vxe-input-date-quarter-row-height-default};
  --vxe-input-date-quarter-row-height-medium: #{$vxe-input-date-quarter-row-height-medium};
  --vxe-input-date-quarter-row-height-small: #{$vxe-input-date-quarter-row-height-small};
  --vxe-input-date-quarter-row-height-mini: #{$vxe-input-date-quarter-row-height-mini};
  --vxe-input-height-default: #{$vxe-input-height-default};
  --vxe-input-height-medium: #{$vxe-input-height-medium};
  --vxe-input-height-small: #{$vxe-input-height-small};
  --vxe-input-height-mini: #{$vxe-input-height-mini};
  --vxe-input-count-color: #{$vxe-input-count-color};
  --vxe-input-count-background-color: #{$vxe-input-count-background-color};
  --vxe-input-count-error-color: #{$vxe-input-count-error-color};

  /*textarea*/
  --vxe-textarea-line-height: #{$vxe-textarea-line-height};
  --vxe-textarea-background-color: #{$vxe-textarea-background-color};

  // anchor
  --vxe-ui-anchor-link-color: var(--vxe-ui-font-secondary-color);
  --vxe-ui-anchor-link-active-color: var(--vxe-ui-font-primary-color);

  // breadcrumb
  --vxe-ui-breadcrumb-color: var(--vxe-ui-font-secondary-color);
  --vxe-ui-breadcrumb-current-item-color: var(--vxe-ui-font-color);

  /*loading*/
  --vxe-ui-loading-color: var(--vxe-ui-font-primary-color);
  --vxe-ui-loading-background-color: rgba(255, 255, 255, 0.5);
  --vxe-ui-loading-z-index: 999;

  /*tooltip*/
  --vxe-ui-tooltip-dark-color: #fff;
  --vxe-ui-tooltip-dark-background-color: #303133;
  --vxe-ui-tooltip-light-background-color: #fff;

  /*form*/
  --vxe-ui-form-item-min-height-default: 36px;
  --vxe-ui-form-item-min-height-medium: 34px;
  --vxe-ui-form-item-min-height-small: 32px;
  --vxe-ui-form-item-min-height-mini: 30px;
  --vxe-ui-form-background-color: #fff;
  --vxe-ui-form-validate-error-color: var(--vxe-ui-status-error-color);
  --vxe-ui-form-validate-error-background-color: inherit;

  // design-form
  --vxe-ui-design-form-widget-item-background-color: #fff;
  --vxe-ui-design-form-widget-item-hover-background-color: #{lighten($vxe-ui-font-primary-color, 10%)};

  /*modal*/
  --vxe-ui-modal-header-background-color: #F8F8F8;
  --vxe-ui-modal-body-background-color: #fff;
  --vxe-ui-modal-border-color: #ebeef5;

  /*checkbox*/
  --vxe-checkbox-font-size-default: #{$vxe-checkbox-font-size-default};
  --vxe-checkbox-font-size-medium: #{$vxe-checkbox-font-size-medium};
  --vxe-checkbox-font-size-small: #{$vxe-checkbox-font-size-small};
  --vxe-checkbox-font-size-mini: #{$vxe-checkbox-font-size-mini};
  --vxe-checkbox-checked-width: #{$vxe-checkbox-checked-width};
  --vxe-checkbox-checked-height: #{$vxe-checkbox-checked-height};
  --vxe-checkbox-indeterminate-width: #{$vxe-checkbox-indeterminate-width};
  --vxe-checkbox-indeterminate-height: #{$vxe-checkbox-indeterminate-height};
  --vxe-checkbox-border-width: #{$vxe-checkbox-border-width};
  --vxe-checkbox-border-radius: #{$vxe-checkbox-border-radius};
  --vxe-checkbox-icon-background-color: #{$vxe-checkbox-icon-background-color};
  --vxe-checkbox-checked-icon-border-color: #{$vxe-checkbox-checked-icon-border-color};
  --vxe-checkbox-indeterminate-icon-background-color: #{$vxe-checkbox-indeterminate-icon-background-color};

  /*radio*/
  --vxe-radio-font-size-default: #{$vxe-radio-font-size-default};
  --vxe-radio-font-size-medium: #{$vxe-radio-font-size-medium};
  --vxe-radio-font-size-small: #{$vxe-radio-font-size-small};
  --vxe-radio-font-size-mini: #{$vxe-radio-font-size-mini};
  --vxe-radio-border-width: #{$vxe-radio-border-width};
  --vxe-radio-icon-background-color: #{$vxe-radio-icon-background-color};
  --vxe-radio-checked-icon-background-color: #{$vxe-radio-checked-icon-background-color};
  --vxe-radio-indeterminate-icon-background-color: #{$vxe-radio-indeterminate-icon-background-color};
  --vxe-radio-button-default-background-color: #151518;

  /*select*/
  --vxe-select-option-height-default: #{$vxe-select-option-height-default};
  --vxe-select-option-height-medium: #{$vxe-select-option-height-medium};
  --vxe-select-option-height-small: #{$vxe-select-option-height-small};
  --vxe-select-option-height-mini: #{$vxe-select-option-height-mini};
  --vxe-select-option-hover-background-color: #{$vxe-select-option-hover-background-color};
  --vxe-select-panel-background-color: #{$vxe-select-panel-background-color};
  --vxe-select-empty-color: #{$vxe-select-empty-color};
  --vxe-optgroup-title-color: #{$vxe-optgroup-title-color};

  /*switch*/
  --vxe-switch-font-color: #{$vxe-switch-font-color};
  --vxe-switch-icon-background-color: #{$vxe-switch-icon-background-color};
  --vxe-switch-open-background-color: #{$vxe-switch-open-background-color};
  --vxe-switch-close-background-color: #{$vxe-switch-close-background-color};
  --vxe-switch-disabled-background-color: #{$vxe-switch-disabled-background-color};

  /*pulldown*/
  --vxe-pulldown-panel-background-color: #{$vxe-pulldown-panel-background-color};

  //*pager*/
  --vxe-pager-background-color: #{$vxe-pager-background-color};
  --vxe-pager-perfect-background-color: #{$vxe-pager-perfect-background-color};
  --vxe-pager-perfect-button-background-color: #{$vxe-pager-perfect-button-background-color};
}